body{
  background-color:deepskyblue;
  margin: 0px;
}


#containerSelect{
  position: absolute;
  width: 90% ;
  height: 60px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  align-items: center;
}

#sortBy{
  display: block;
  width: 90%;
  height: 40px;
  border-radius: 10px;
  border: solid 2px lightseagreen;
}

@media (min-width:750px) {
  #containerSelect{
    display: none;
  }

}

@media (max-width:750px){

  button{
    display: none;
  }
}
